<!DOCTYPE html>
<html>
<head>
  <title>PlantingSeasonAuth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper header">
  <header class="main row">
    <div class="four columns">
       <h1 class="logo">
         <a href="/">Planting Season</a>
       </h1>
    </div>
    <div class="eight columns">
      <nav class="header-nav">
        <ul>
          <li>
            <a href="/auth/login">
              Login
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div class="body-content row full">
  <% flash.each do |type, message| %>
    <div class="flash #{type} twelve columns">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
